<?xml version='1.0' encoding='utf-8'?>
<plugin id="permiPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>permiPlugin</name>
<js-module name="permiPlugin" src="www/permiPlugin.js">
<clobbers target="cordova.plugins.permiPlugin" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="permiPlugin"><param name="android-package" value="permiPlugin.permiPlugin" /></feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml">
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</config-file>
<source-file src="src/android/permiPlugin.java" target-dir="src/permiPlugin/permiPlugin" />
</platform>
</plugin>